<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DC Comics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F05179FF1C7B803E002557F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0517A131C7B803E002557F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0517A1E1C7B803E002557F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
